extends layout
block body
  h2 Keima
  p Keima is a simple, open, realtime notification service. Written using node.js, Socket.IO, MongoDB, redis.
  p
    | Keima is hosted by
    a(href="http://heroku.com") Heroku
    | .


  h2 Features
  ul
    li Realtime notification(using Websocket,FlashSocket, XHR-Polling)
    li Cross browser support(including iPhone, Android)

  h2 Author
  ul
    li: a(href="http://twitter.com/mzp") @mzp
    li
      a(href="http://twitter.com/mallowlabs") @mallowlabs
      |  \(original author)
