table
  tr
    th ID
    td: input(name="id", value="#{app.id}")
  tr
    th Title
    td: input(name="title", value="#{app.title}")
  tr
    th Updated date
    td= app.date
  tr
    th
    td: input.button(type="submit", value="save")

