h1 Application: #{app.title}

form(method="POST", action="/app/#{app.id}")
  ul
    li Title:
      input(name="title", value="#{app.title}")
    li Date: #{app.date}
  p
    input(type="submit", value="Save")
    input(type="hidden", name="_method", value="put")


