script(src="/socket.io/socket.io.js")
script(type="text/javascript")
    var app = {
      id : '#{app.id}'
    }
script(src="/javascripts/keima.js")
script(src="/demo.js")

h2 Prepare
pre
  code.javascript
    &lt;script src="http://#{address}/socket.io/socket.io.js" type="text/javascript"&gt;&lt;/script&gt;
    &lt;script src="http://#{address}/javascripts/keima.js" type="text/javascript"&gt;&lt;/script&gt;
h2 Connection
pre
  code.javascript
    var appkey = "#{app.id}";
    var keima = new Keima(appkey);
h2 Subscribe channel
.demo
  pre
    code.javascript
      var channel = keima.subscribe("channel");
  form#subscribe
    table
      tr
        th Channel
        td: input.channel.text(value="demo")
      tr
        th
        td: input.button(type="submit", value="subscribe")

h2 Event binding
.demo
  pre: code
    channel.bind("event", function(data) {
      console.log(data);
    });
  form#observe
    table
      tr
        th Event name
        td: input.name.text(value="event")
      tr
        th
        td: input.button(type="submit", value="event bind")

h2 Publish
.demo
  pre: code
    keima.publish("channel", "event", {
      foo : "bar"
    });
  form#publish
    table
      tr
        th  Channel
        td: input.channel.text(value="demo")
      tr
        th  Event name
        td: input.name.text(value="event")
      tr
        th  Sending data
        td: input.data.text(value="data")
      tr
        th
        td: input.button(type="submit", value="publish")

h2 Console
  p: textarea#console(cols=80,rows=15)

