ul.apps
  - for(var key in apps)
    .app
      .info
        span.title= apps[key].title
        span.date=  apps[key].date
      p: a(href="/app/#{apps[key].id}") detail
      p: a(href="/app/#{apps[key].id}/demo") demo

 p:  a.button(href="/app/new") new app



